[submodule "themes\\hugo-future-imperfect"]
	path = themes\\hugo-future-imperfect
	url = https://github.com/jpescador/hugo-future-imperfect.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
